
@-webkit-keyframes showOracle {
  from { opacity: 0 }
  to { opacity: 1 }
}

@-webkit-keyframes shake {
  0% { -webkit-transform: translate(1px, 1px) rotate(0deg); }
  10% { -webkit-transform:  translate(-1px, -1px) rotate(-1deg); }
  20% { -webkit-transform:  translate(-1px, 0px) rotate(1deg); }
  30% { -webkit-transform:  translate(0px, 1px) rotate(0deg); }
  40% { -webkit-transform:  translate(1px, -1px) rotate(1deg); }
  50% { -webkit-transform:  translate(-1px, 0px) rotate(-1deg); }
  60% { -webkit-transform:  translate(-1px, 1px) rotate(0deg); }
  70% { -webkit-transform:  translate(1px, 1px) rotate(-1deg); }
  80% { -webkit-transform:  translate(-1px, -1px) rotate(0deg); }
  90% { -webkit-transform:  translate(1px, 1px) rotate(0deg); }
  100% { -webkit-transform: translate(1px, -1px) rotate(-1deg); }
}

@-webkit-keyframes changePlaneBackground {
  0%    { 
    background-image: url('../img/bg/nors.jpg'); 
    background-position: 100% 0;
  }
  16%   {
    background-image: url('../img/bg/nors.jpg'); 
    background-position: 0 0;
  }
  33%   { 
    background-image: url('../img/bg/furnace.jpg'); 
    background-position: 0 0;
  }
  49%  {
    background-image: url('../img/bg/furnace.jpg'); 
    background-position: 100% 0;
  }
  66%  {
    background-image: url('../img/bg/selesnya.jpg'); 
    background-position: 100% 0;
  }
  100%  {
    background-image: url('../img/bg/selesnya.jpg'); 
    background-position: 0 0;
  }
}