@font-face {
    font-family: 'Planewalker';
    src: url('../fonts/planewalker-webfont.eot');
    src: url('../fonts/planewalker-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/planewalker-webfont.woff') format('woff'),
         url('../fonts/planewalker-webfont.ttf') format('truetype'),
         url('../fonts/planewalker-webfont.svg#planewalkerregular') format('svg');
    font-weight: normal;
    font-style: normal;
}