@import url(http://fonts.googleapis.com/css?family=Quicksand:300,400,700);
@import "fonts";
@import "mtg-icons";
@import "dice";
@import "animations";
@import (less) "animate.css/animate.min.css";
@import (less) "csshake/csshake.min.css";

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
  overflow: hidden;

}

.upsideup {
  transform: rotate(0deg);
  transition: all .5s;
}
.upsidedown {
  transform: rotate(180deg);
  transition: all .5s;
}

.hidden {
  display: none !important;
}

.wrapper,
.plane-wrapper {
  width: 100%;
  height: 100%;
  background-color: #000;
  margin: 0 auto;
}

.plane, .phenomenon, .back {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: black;
  
  
  .bg {
    // display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
    border-radius: 30px;
    -webkit-filter: blur(9px);
    filter: url(../img/filters.svg#blur);
    opacity: 0.4;
  }

  .card {
    @width: 900px;
    @height: round(@width/1.43);
    
    width: @width;
    height: @height;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -(round(@height/2)) 0 0 -(round(@width/2));
    border-radius: @width * 0.04;
    box-shadow: 0 0 20px black;
  }

  ul {
    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    list-style: none;
  }
  
  li {
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    // background-color: rgba(0,0,0,0.6);
    width: 100%;
    overflow: visible;

    em {
      display: block;
      font-size: 0.7em;
    }

    &.oracle {
      display: none;
      background: rgba(0,0,0,0.7) url('../img/icons/plane__white.png') no-repeat center 20px;
      -webkit-background-size: 50px;
      background-size: 50px;
      margin-top: -250px;
      padding-top: 90px;
      text-align: center;
    }
    
    &.chaos {
      display: none;
      background: rgba(0,0,0,0.7) url('../img/icons/chaos__white.png') no-repeat center 20px;
      -webkit-background-size: 100px;
      background-size: 100px;
      margin-top: -200px;
      padding-top: 90px;
      text-align: center;
    }
    
    &.name {
      display: none;
      top: 0px;
      text-align: center; 
      span.value {
        font-family: 'Planewalker';
        font-size: 3em;
        margin: 10px auto;
      }
    }
    
    span.key {
      display: none;
    }
    span.value {
      text-shadow: 1px 1px 3px #000, -1px -1px 3px #000;
      font-family: 'Quicksand', sans-serif;
      color: #FFF;
      font-size: 2em;
      width: 750px;
      display: block;
      margin: 40px auto;
    }
  }
}

.phenomenon {
  ul li.oracle {
    display: none;
    background-color: rgba(0,0,0,.6);
    background-image: none;
    margin-top: -200px;
    padding: 40px 0;
    text-align: center;
  }
}

.plane-bg {
  background-repeat: no-repeat;
  background-position:  100% top;
  background-size: cover;

  -webkit-animation-name: changePlaneBackground;
  -webkit-animation-duration: 240s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -webkit-animation-timing-function: ease-out;

  position: relative;
  &:before {
    background: url(../img/bg/mask2.png) repeat 0 0;
    -webkit-background-size: auto;
    background-size: auto;
    position: absolute;
    content: " ";
    width: 100%;
    height: 100%;
    /*-webkit-animation: animatedMask 1s linear infinite;*/
  }
}

#dice {
  position: absolute;
  bottom: 20px;
  right: 20px;
  
  overflow: hidden;
  
  background-color: black;
  border-radius: 50%;
}

.at-chaos {
  .card {

  }
}