.mtg-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  max-width: 48px;
  max-height: 48px;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  bottom: -0.2em;
  margin: 0 0.05em;
  .green-mana { background-image: url('../img/icons/green.png'); }
  .red-mana { background-image: url('../img/icons/red.png'); }
  .white-mana { background-image: url('../img/icons/white.png'); }
  .blue-mana { background-image: url('../img/icons/blue.png'); }
  .black-mana { background-image: url('../img/icons/black.png'); }
  .tap { background-image: url('../img/icons/tap.png'); }
  .chaos { background: url('../img/icons/chaos__white.png') no-repeat center center; background-size: 32px; position: relative; top: 4px; }
  .plane { background: url('../img/icons/plane__white.png') no-repeat center center; background-size: 22px; position: relative; top: 4px; padding: 5px 0; }
}