<div class="plane">
  <div class="bg" style="background-image: url('img/cards/<%= multiverseid %>.jpg')"></div>
  
  <img class="card" src="img/cards/<%= multiverseid %>.jpg">
  <img class="next-card" src="img/cards/<%= next_multiverseid %>.jpg" style="position: absolute; top: -999em;">
  
  <ul> 
    <li class="rule oracle animated fadeInDown">
      <span class="key">Oracle</span>
      <span class="value"><%= oracle %></span>
    </li>          
    <li class="rule chaos shake shake-little shake-constant">
      <span class="key">Chaos</span>
      <span class="value"><%= chaos %></span>
    </li>
  </ul>
</div>